<div>
	<p>London clock</p>
	
	<p (click)="changeTime($event)" [style.display]="isShow?'block':'none'"><span>{{ hour }}</span>:<span>{{ minute }}</span>:<span>{{ second}}</span> {{ampm}}</p>
  <p [style.display]="isChange?'inline':'none'" >
    <input text="input" value={{hour}} (change)="changeHour($event)"/>:
    <input text="input" value={{minute}} (change)="changeMinute($event)"/>:
    <input text="input" value={{second}} (change)="changeSecond($event)"/>
    {{ampm}}
    <button (click)="resume($event)">Resume</button>
  </p>
</div>
